.buttonContainer {
    display: flex;
    justify-content: center;
}

.projectCards {
    width: 17em;
    /* border: solid 0.03em rgba(134, 56, 189, 0.508); */
    transition: background-color 0.8s ease,
        box-shadow 0.8s ease;
    box-shadow: inset 0 0 3em rgba(207, 16, 255, 0.638);
    background-color: rgba(0, 255, 255, 0.196);
    color: white;
    text-shadow: 0.05em 0.05em 0.06em rgb(255, 222, 10);
}

.projectCards:hover {
    background-color: rgba(240, 248, 255, 0);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: inset 0 0 2em rgba(255, 0, 0, 0.548);
    text-shadow: 0.08em 0.08em 0.08em rgb(228, 187, 73);
}