html,
body,
* {
  margin: auto;
  padding: 0;
}

#root {
  height: 100%;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background: rgb(69, 150, 224);
  background: linear-gradient(90deg, rgba(69, 150, 224, 1) 14%, rgba(159, 83, 185, 1) 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/src/assets/galaxybg.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.buttonGallery {
  color: #000000;
  padding: 0.1em 0.3em;
  border: 0.1em solid rgba(169, 24, 209, 0.529);
  border-radius: 1em;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.5s ease;
  box-shadow:
    0.02em 0.02em 0.2em 0.1em rgba(67, 201, 26, 0.908),
    0.02em 0.02em 0.2em 0.1em rgba(21, 61, 9, 0.532),
    inset 0.01em 0.01em 0.5em 0em rgba(208, 0, 255, 0.9);
  text-shadow: 0 0 0.05em rgb(0, 0, 0);
  margin-bottom: 0.5em;
}

.buttonGallery:hover {
  box-shadow: 0.02em 0.02em 0.2em 0.1em rgba(67, 201, 26, 0.908);
}