html,
body,
* {
  margin: auto;
  padding: 0;
}

#root {
  height: 100%;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background: rgb(69, 150, 224);
  background: linear-gradient(90deg, rgba(69, 150, 224, 1) 14%, rgba(159, 83, 185, 1) 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/src/assets/galaxybg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}